body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
	monospace;
}

.controlGroup {
	border: dashed;
	border-radius: 15px;
	padding: 10px
}

/*
 * Country flags section
 */
.flag-icon {
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
	position: relative;
	display: inline-block;
	width: 40px;
	line-height: 30px;
	margin: 10px 5px 0;
	cursor: pointer;
}

.shadowed {
	box-shadow: 2px 2px 5px grey;
}

.flag-icon-background {
	background-size: contain;
	background-position: 50%;
	background-repeat: no-repeat;
}

